.eachChar {
  font-family: Arial, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  min-width: 1.5rem;
  display: inline-block;
  /* font-family: EmerlandRegular, Geneva, Tahoma, sans-serif; */
}
