<div id="__cps_loading-warp">
  <div></div>

  <div id="__cps_loading-mainText">
    <span id="__cps_loading-char">&lt;</span>
    <span id="__cps_loading-char">&nbsp;</span>
    <span id="__cps_loading-char">C</span>
    <span id="__cps_loading-char">a</span>
    <span id="__cps_loading-char">p</span>
    <span id="__cps_loading-char">s</span>
    <span id="__cps_loading-char">i</span>
    <span id="__cps_loading-char">o</span>
    <span id="__cps_loading-char">n</span>
    <span id="__cps_loading-char">'</span>
    <span id="__cps_loading-char">s</span>
    <span id="__cps_loading-char">&nbsp;</span>
    <span id="__cps_loading-char">H</span>
    <span id="__cps_loading-char">u</span>
    <span id="__cps_loading-char">b</span>
    <span id="__cps_loading-char">&nbsp;</span>
    <span id="__cps_loading-char" class="__cps_loading-colorSlash">
      <strong id="__cps_loading-colorSlash">/</strong>
    </span>
    <span id="__cps_loading-char">&gt;</span>
  </div>

  <div class="wavesWarp">
    <svg
      class="waves"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      viewBox="0 24 150 28"
      preserveAspectRatio="none"
      shape-rendering="auto"
    >
      <defs>
        <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
      </defs>
      <g class="parallax">
        <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
        <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
        <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
        <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
      </g>
    </svg>

    <div class="wavesFooter">
      <div id="__cps_loading-subText">
        Page Loading
        <span class="dots">
          <span class="dot">.</span>
          <span class="dot">.</span>
          <span class="dot">.</span>
        </span>
      </div>
    </div>
  </div>
</div>
