#__cps_loading-warp {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: #000;
  z-index: 9999;
}

#__cps_loading-char {
  font-size: 2rem;
}

#__cps_loading-colorSlash {
  display: inline-block;
  animation: slash-rotate 2s cubic-bezier(0.4, 0, 0.2, 1) 1s infinite;
  transform-origin: center;
  transform-style: preserve-3d;
}

.__cps_loading-colorSlash {
  animation: slash-color 20s cubic-bezier(0.4, 0, 0.2, 1) 1s infinite;
}

@keyframes slash-rotate {
  0% {
    transform: rotateX(0deg); /* 动画开始 */
  }
  50% {
    transform: rotateX(360deg); /* 动画在第1秒完成 */
  }
  100% {
    transform: rotateX(360deg); /* 保持状态到第2秒（间隔1秒） */
  }
}

@keyframes slash-color {
  0% {
    color: #ff4058;
  }
  10% {
    color: #f6b429;
  }

  20% {
    color: #64d487;
  }
  30% {
    color: #1d72b8;
  }
  40% {
    color: #ff7f32;
  }
  50% {
    color: #8e44ad;
  }
  60% {
    color: #7fdad3;
  }
  70% {
    color: #da7fd3;
  }
  80% {
    color: #ff6b8a;
  }
  90% {
    color: #8a7fff;
  }
  100% {
    color: #ff4058;
  }
}

#__cps_loading-warp {
  animation: show 1s cubic-bezier(1, 0.03, 0.2, 1.18);
}

@keyframes show {
  0% {
    transform: scale(0.2); /* 动画在第1秒完成 */
    opacity: 0;
  }
  100% {
    transform: scale(1.1); /* 动画在第1秒完成 */

    opacity: 1;
  }
}
